vendor

cmd/deepspeech/deepspeech
cmd/mic_capture/mic_capture
cmd/slack_bot/slack_bot
cmd/text_processor/text_processor
cmd/text_sender/text_sender
cmd/wav_slicer/wav_slicer
environ.rc
mac-environ.rc
linux-environ.rc
testdata/harvard-sentences.*
out